body {
    font-size: 1em;
    color: rgb(90, 50, 150);
    background: rgb(243, 206, 138);
}

#heading1 {
    text-align: center;
    font-size: 40px;
}

.container2 {
    position: relative;
    top: 50px;
    left: 350px;
    width: 800px;
    height: 600px;
    border-style: solid;
    border-radius: 2px;
    border-color: rgb(147, 140, 49);
    border-width: 20px;
}

#heading2 {
    text-align: center;
    font-size: 35px;
}

#formbx {
    padding-top: 50px;
}

.cmnbtn {
    position: relative;
    width: 250px;
    height: 50px;
    font-size: 25px;
    background-color: brown;
    cursor: pointer;
}

button:hover {
    background-color: #802d2d;
}

button:active {
    background-color: #802d2d;
    box-shadow: 0 3px #802d2d;
    transform: translateY(5px);
}

.button1 {
    position: absolute;
    left: 100px;
}

.button2 {
    position: absolute;
    left: 500px;
}

.button3 {
    position: absolute;
    left: 100px;
    top: 250px;
}

.button4 {
    position: absolute;
    left: 500px;
    top: 50px;
}

.button5 {
    position: relative;
    top: 50px;
}

.logincontainer{
    position: relative;
    text-align: center;
    border-bottom: 15px;
    
    
}