
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=5.0">
    <meta http-equiv="refresh" content="30">
    <title>Page</title>
    <link rel="stylesheet" href="/static/home.css" />
  </head>
  <body>
    <div class="container1">
    <h1 id="heading1"><b>WELCOME TO EMPLOYEE DATABASE</b></h1>
    <div class="container2">
      <h2 id="heading2"><b>Click below option to proceed</b></h2>
      <form id="formbx">
      <button class="cmnbtn button1" type="submit" formaction="/DataEntry"><b>Data Entry</b></button>
      <button class="cmnbtn button2" type="submit" formaction="/DataAccess"><b>Access Data</b></button>
      <button class="cmnbtn button3" type="submit" formaction="/DataDeletion"><b>Delete Data</b></button>
      <button class="cmnbtn button4" type="submit" formaction="/convertToCSV"><b>Create CSV</b></button>
    </form>
    </div>
  </div>
  </body>
</html>